.data-tabs{
    .item {
        position: relative;
        margin: 15px;
        padding: 12px;
        height: 344px;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: hidden;
        //color: #fff;
        color:yellow;
        background-color: red;
        width: 300px;
        
      }
      .item-header {
        position: relative;
        & > p {
          margin: 0px;
          font-size: 14px;
        }
        & > span {
          position: absolute;
          right: 0px;
          top: 0px;
          padding: 2px 8px;
          border-radius: 4px;
          font-size: 12px;
          background: rgba(255, 255, 255, 0.3);
        }
      }
      .item-body {
        & > h2 {
          margin: 0;
          font-size: 32px;
          line-height: 100px;
          background-color: red;
         
        }
      }
      .item-footer {
        line-height: 16px;
        & > span {
          font-size: 20px;
        }
        & > p {
          margin: 0px;
          font-size: 22px;
        }
      }
      .item-tip {
        display: flex;
        align-items: center;
        // line-height: 80px;
        justify-content: center;
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: 100px;
        right: 10px;
        border: 2px solid #fff;
        border-radius: 40%;
        font-size: 28px;
        // transform: rotate(-20deg);
        opacity: 0.5;
        background-color: red;
      }
}